extends ../layout

block head
    script(src="https://cdn.tiny.cloud/1/3jm39o55k104ldhofgzozj0s61p5y84nz2th7njv5hef0qhe/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    script.
        tinymce.init({selector: '#content'});

block content
    h1.text-center= page.pageName

    br
    div.container
        form.form-add-page(id="newPageForm" method="post" action="/edit")
            div.form-group.row.justify-content-center
                label.col-form-label.col-sm-2(for="pageName") Page Title (required):
                div.col-sm-10
                    input.form-control(
                        type="text"
                        id="pageName"
                        name="pageName"
                        required
                        minLength="3"
                        value = pageToEdit && pageToEdit.pageName
                    )
            div.form-group.row.justify-content-center
                label.col-form-label.col-sm-2(for="image") Image:
                div.col-sm-10
                    input.form-control-file(type="file" id="image" name="image" accept="image/*" value= pageToEdit && pageToEdit.image)

            div.form-group.row.justify-content-center
                div.col-sm-12
                    textarea.form-control(id="content" name="content" rows=20) !{pageToEdit && pageToEdit.content}

            input.btn.btn-lg.btn-secondary.btn-block(type="submit" value="Submit")
