extends ../layout

block head
    script(src="https://cdn.tiny.cloud/1/3jm39o55k104ldhofgzozj0s61p5y84nz2th7njv5hef0qhe/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    script.
        tinymce.init({selector: '#content'});

block content
    h1.text-center Edit Header

    br
    div.container
        form.form-add-page(id="newPageForm" method="post" action="/design")
            div.form-group.row.justify-content-center
                label.col-form-label.col-sm-2(for="websiteName") Website Name:
                div.col-sm-10
                    input.form-control(
                        type="text"
                        id="websiteName"
                        name="websiteName"
                        required
                        minLength="3"
                        value = design && design.websiteName
                    )

            div.form-group.row.justify-content-center
                label.col-form-label.col-sm-2(for="icon") Logo URL:
                div.col-sm-10
                    input.form-control(
                        type="text"
                        id="icon"
                        name="icon"
                        required
                        minLength="3"
                        value = design && design.icon
                    )

            div.form-group.row.justify-content-center
                label.col-form-label.col-sm-2(for="footer") Footer:
                div.col-sm-10
                    input.form-control(
                        type="text"
                        id="footer"
                        name="footer"
                        required
                        minLength="3"
                        value = design && design.footer
                    )

            input.btn.btn-lg.btn-secondary.btn-block(type="submit" value="Submit")
