extends ../layout

block content
    h1.text-center= page.pageName

    br

    if page.image
        img(src="/images/"+page.image, alt=page.image, width="300", heigth="300")
        br

    br

    p!= page.content

