doctype html
html
    head
        link(rel='stylesheet', href='/static/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/css/styles.css')
        block head

    body
        div.d-flex.flex-column.min-vh-100
            header
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href=pages[0].path)
                        if design && design.websiteName
                        img.d-inline-block.mr-2(src=design.icon width=50 height=50)
                        span !{design.websiteName}

                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon

                    div.collapse.navbar-collapse(id='navbarNav')
                        ul.navbar-nav.ml-auto
                            each p in pages
                                li.nav-item
                                    if p.pageCode === page.pageCode
                                        a.nav-link.active(href=p.path)= p.pageName
                                    else
                                        a.nav-link(href=p.path)= p.pageName

                            if !isAdmin
                                li.nav-item
                                    if page.pageCode === 'login'
                                        a.nav-link.active(href='/auth/login') Login
                                    else
                                        a.nav-link(href='/auth/login') Login

            main.flex-fill
                if message
                    h3.text-center.text-info.mb-1= message
                block content

            footer.footer.mx-auto.py-3
                span.text-muted.text-center !{design && design.footer}